
*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-size: calc(10px + 2vmin);
  text-align: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
  
}

.heading{
  margin-bottom: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.desc{
  margin-bottom: 20px;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
}
.formCard{
  display: flex;
  /* flex-direction: column; */
  /* width: 80%; */
}

.formCard input{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 8px;
  padding: 10px;
  margin: 8px;
  color: white;
  min-width: 520px;
  box-shadow: 0 0 6px rgba(0,0,0, .2);
}


.formCard button{
  width: 150px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 8px;
  margin: 8px;
  box-shadow: 0 0 6px rgba(0,0,0, .2);
  color: white;
  font-size: 15px;
}

.userDetailCard{
  display: flex;
  margin: 10px;
  margin-top: 30px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38 , 135,.36);
  backdrop-filter: blue(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

}


.userDetailBody{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.userDetailBody .name{
  font-size: 1.5rem;
  font-weight: 600;

}

.follow{
  display: flex;
  /* flex-direction: column; */
  gap: 16px;
  margin: 8px 0;
  font-size: 18px;
}

.prof{
  margin-top: 8px;
  font-size: 22px;
}

.userName{
  font-size: 16px;
}


.userImage img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 6px rgba(0,0,0, .2);
}